[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://github.com/LastLosts/dwm
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = https://github.com/LastLosts/dmenu
[submodule "suckless/st"]
	path = suckless/st
	url = https://github.com/LastLosts/st
[submodule "waylandshit/dwl"]
	path = waylandshit/dwl
    url = https://codeberg.org/dwl/dwl
    branch = 0.7
